/*
Error: Undefined mixin 'outer-container'.
        on line 3 of sass/layout.scss, in `outer-container'
        from line 3 of sass/layout.scss

1: 
2: #page {
3:   @include outer-container;
4: }

Backtrace:
sass/layout.scss:3:in `outer-container'
sass/layout.scss:3
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:338:in `block in visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/stack.rb:98:in `block in with_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/stack.rb:98:in `with_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:293:in `watch'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/plugin.rb:108:in `method_missing'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:370:in `watch_or_update'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:50:in `process_result'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/usr/local/rvm/rubies/ruby-1.9.3-p547/bin/sass:23:in `load'
/usr/local/rvm/rubies/ruby-1.9.3-p547/bin/sass:23:in `<main>'
/usr/local/rvm/gems/ruby-1.9.3-p547/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-1.9.3-p547/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'outer-container'.\A         on line 3 of sass/layout.scss, in `outer-container'\A         from line 3 of sass/layout.scss\A \A 1: \A 2: #page {\A 3:   @include outer-container;\A 4: }"; }
