{% extends 'region.html.twig' %}
{% block content %}
  {% if content %}
    <footer class="region region-post-footer">
      <div class="inner container">
        {{ content }}
     </div></footer>
  {% endif %}
{% endblock %}
